<apex:page standardController="Contact" title="My Custom Flow Interview Title" extensions="myFlowExt" standardStylesheets="false" sidebar="false" >
    <link rel="stylesheet" href="{! $resource.Flow_styles}"/>
    <flow:interview name="My_Flow_API_Name" interview="{!flow}" finishLocation="{!FinishURL}">
        <apex:param name="startvarContactID" value="{!$User.ContactId}" />

    </flow:interview>
    <c:flowCancel recordId="SomeDefaultRecordId"
                  displayName="Home" />
</apex:page>